:root {
  --primary-color: #f2efe4;
  --text-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  height: 100vh;
}

p {
  line-height: 1.6rem;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

a {
  color: #3e3d6d;
  border-bottom: 1px dashed #3e3d6d;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
}

.header {
  height: 60vh;
  background-color: var(--text-color);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  animation: 0.8s ease 0s 1 normal none running zoom-in;
}

.container .links {
  margin: 35px 0;
}

.links ul {
  list-style-type: none;
}

.links li {
  margin: 15px;
  display: inline;
}

.links a {
  border: none;
  color: none;
}

.links img {
  transition: all 0.4s ease-in-out;
}

.links img:hover {
  transform: scale(1.6);
}

.wave {
  margin: 0 10px;
  animation-name: wave-animation;  
  animation-duration: 2.5s;       
  animation-iteration-count: 1;  
  transform-origin: 70% 70%;     
  display: inline-block;
}


@media screen and (max-width: 700px) {
  .header {
    height: 40vh;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(22.0deg) } 
 20% { transform: rotate(-10.0deg) }
 30% { transform: rotate(18.0deg) }
 40% { transform: rotate(-7.0deg) }
 50% { transform: rotate(12.0deg) }
 60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

