:root {
  --primary-color: rgba(62, 61, 109);
  --text-color: rgba(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  height: 100vh;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 60vh;
  background-color: var(--text-color);
}

.container {
  text-align: center;
  margin: 35px;
  animation: 0.8s ease 0s 1 normal none running zoom-in;
}

.container .links {
  margin: 35px 0;
}

.links ul {
  list-style-type: none;
}

.links li {
  margin: 15px;
  display: inline;
}

.links a {
  border: none;
  color: none;
}

@media screen and (max-width: 700px) {
  .header {
    height: 50vh;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
